.black-icon {
    color:black;
    padding: 0;
}

.social-btn {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.social-btn:hover {
    text-decoration: none;
}

#social-btns {
    font-size: 20pt;
}